.image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 2rem 1rem;
  }


.gallery-image {
    width: 100%;
    height: 100%;

    object-fit: cover;
    background-color: #d4d4d4;
    transition: transform .3s ease-in-out;
}

.gallery-image:hover {
    transform: scale(1.1);
}