* {margin: 0}

:root {
  --primary-color: #EC407A;
  --secondary-color: #F06292;
}

body {
  width: 100%;
  min-height: 100vh;
}
/* logo style */

.logo {
  height: 85px;
  user-select: none;
}
.app {
  max-width: 85%;
  margin: 0 auto;
  margin-top: 45px;
}

  